@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.title {
	font-family: "Instrument Sans", sans-serif !important;
	/* force override */
	font-weight: 700 !important;
	font-style: normal;
	font-optical-sizing: auto;
	font-variation-settings: "wdth"100;
	color: White;
	font-size: 3rem !important;
	line-height: 1.2;
}

.marker {
  background-image: url('../../public/pin-marker.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1000;
}

/* Ensure marker is visible */
.mapboxgl-marker {
  z-index: 1000 !important;
}